footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    margin: 0 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #d1d1d146;
    color: white;
    text-align: center;
    bottom: 10px;
}

html, body {
    margin: 0;
    padding: 0;
}