body {
    font-family: Arial, sans-serif;
    background-image: url('../ressource/pages_quizz/selection_multiple/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: 6rem;
    font-weight: bold;
    color: rgb(251, 188, 0);
    margin: 20px 0;
    margin-top: 100px;
    text-align: center;
    opacity: 0; /* Début à 0% de visibilité */
    transform: translateY(-50px); /* Position initiale */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition des propriétés */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.quiz-button {
    background-color: #dab10d;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.3s ease, padding 0.4s ease;
}

.quiz-button:hover {
    background-color: #9b7f2a;
    padding: 17px 50px;
}