* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background_img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#title {
	display: block;
	width : 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
	margin: 0 auto;
    animation: title 1s infinite alternate ease-in-out;	
}

@keyframes title {
    0% {rotate: -10deg; scale:0.6; }
	50% {scale:0.7; }
    100% {rotate: 10deg; scale:0.6; }
}



.button_zone {
    position: absolute;
    text-align: center;
}

#zone_jouer {
    top: 60%;
    left: 25%;
}

#zone_créer {
    top: 50%;
    left: 65%;
}

button {
    font-size: 2vw;
    padding: 2vh 4vw;
    background-color: yellow;
    color: black;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

@media (max-width: 1000px) {
    #zone_jouer {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the button zone */
    }
    #zone_créer {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the button zone */
    }
    button {
        font-size: 5vw;
    }
}