* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background_img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#title {
    display: block;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    animation: title 1s infinite alternate ease-in-out;	
}

@keyframes title {
    0% {rotate: -10deg; scale:0.6; }
    50% {scale:0.7; }
    100% {rotate: 10deg; scale:0.6; }
}

.button_zone {
    position: absolute;
    text-align: center;
    width: 10vw;
    height: 10vw;
}

#zone_jouer {
    top: 55%;
    left: 24%;
}

#zone_créer {
    top: 45%;
    left: 72%;
}

button {
	position: relative;
    font-size: 2vw;
    padding: 2vh 2vw;
    background-color: rgb(251, 188, 0);
    color: black;
    cursor: pointer;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
    z-index: 2;
	border: 1px solid yellow;
}

img.plate {
    position: absolute;
    bottom: -6%;
    width: 100%;
    transform-origin: center;
    animation: none;
    z-index: 3;
}
img.knife {
    position: absolute;
    bottom: 0%;
    width: 15%;
    transform-origin: center;
    animation: none;
    z-index: 1;
	left: 50%;
    transform: translateX(-50%);
}
img.fork {
    position: absolute;
    bottom: 0%;
    width: 15%;
    transform-origin: center;
    animation: none;
    z-index: 1;
	left: 50%;
    transform: translateX(-50%);
}

.button_zone:hover img.plate {
    animation: plate 0.5s linear forwards;
}

@keyframes plate {
    0% { transform: translateY(0%); }
    40% { transform: translateY(-10px); }
    100% { transform: translateY(0%); }
}

#zone_jouer:hover button {
    animation: jouer 0.5s ease-in-out forwards;
}

@keyframes jouer {
    0% { transform: translateY(0) scaleY(1); }
    50% { transform: translateY(0%) scaleY(0.8); }
    100% { transform: translateY(-20%) scaleY(1); }
}

#zone_jouer:hover img.fork {
    animation: fork 0.8s forwards;
}

@keyframes fork {
    0% { transform: translateX(0%) translateY(0%) scale(0%); }
    50% { transform: translateX(0%) translateY(-10%) scale(0%); }
    100% { transform: translateX(-450%) translateY(-20%) scale(100%); }
}

#zone_jouer:hover img.knife {
    animation: knife 0.8s forwards;
}


@keyframes knife {
    0% { transform: translateX(0%) translateY(0%) scale(0%); }
    50% { transform: translateX(0%) translateY(-10%) scale(0%); }
    100% { transform: translateX(350%) translateY(-20%) scale(100%); }
}


img.pan {
    position: absolute;
    bottom: -27%;
    width: 200%;
    left: -45%;
    transform-origin: center;
    animation: none;
    z-index: 3;
}

.button_zone:hover img.pan {
    animation: pan 0.6s linear forwards;
}

@keyframes pan {
    0% { transform: rotate(0deg) translateX(0); }
    40% { transform: rotate(20deg) translateX(5%) translateY(5%); }
    60% { transform: rotate(-20deg) translateX(5%) translateY(-5%); }
    90% { transform: rotate(0deg) translateX(0); }
	95% { transform: rotate(10deg) translateY(10%); }
	100% { transform: rotate(0deg) translateY(0); }
}

#zone_créer:hover button {
    animation: creer 0.6s linear forwards;
}

@keyframes creer {
    0% { transform: translateX(0) translateY(0) rotate(0deg);}
    40% { transform: translateX(15%) translateY(3%) rotate(0deg); }
    50% { transform: translateX(10%) translateY(-20 %) rotate(0deg); }
    60% { transform: translateX(0%) translateY(-40%) rotate(-180deg); }
    90% { transform: translateX(0) translateY(0) rotate(-360deg); }
    95% { transform: translateX(0) translateY(8%) rotate(-360deg); }
    100% { transform: translateX(0) translateY(0) rotate(-360deg); }
}

@media (max-width: 1000px) {
    #zone_jouer {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }
    #zone_créer {
        top: 65%; 
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }
    button {
        font-size: 5vw;
        padding: 1vh 3vw;
        border-radius: 0;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img.plate, img.pan, img.fork, img.knife {
        display: none;
    }
}

@media (max-height: 550px) {
    #zone_jouer {
        top: 60%;
        left: 30%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }
    #zone_créer {
        top: 60%; 
        left: 70%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }
    button {
        font-size: 5vw;
        padding: 1vh 3vw;
        border-radius: 0;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img.plate, img.pan, img.fork, img.knife {
        display: none;
    }
	#title {
		top : -15%;
	}
}
