* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../../ressource/pages_quizz/selection_multiple/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.status {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 15px;
    color: green;
}

.logo img {
    width: 150px;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.question-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.question-area {
    text-align: center;
    margin-top: 20px;
}

.timer {
    font-size: 14px;
    color: green;
    margin-bottom: 10px;
}

.question-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.answer {
    background-color: #FFC107;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.answer .letter {
    flex-basis: 15%;
    text-align: left;
}

.answer .text {
    flex-basis: 85%;
    text-align: center;
}

.answer:hover {
    background-color: #daa70e;
}

.submit {
    background-color: #FFEB3B;
    color: #000;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.submit:hover {
    background-color: #FDD835;
}

.answer.selected {
    background-color: #c3861d;
    color: white;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 30px;
    position: relative;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #fceb66;
    width: 100%;
    transition: width 1s linear;
}

#time-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #9f9f9f;
    font-size: 16px;
}

.selected {
    color: white;
    border: 2px solid #565656;
}

.question-number {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #333; /* Couleur du texte */
}