/* styles.css */

/* Réinitialisation et styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('../../ressource/pages_quizz/selection_multiple/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    margin: 20px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* En-tête */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Chronomètre */
.timer {
    font-size: 20px;
    color: #e67e22;
    text-align: center;
    margin-bottom: 15px;
}

/* Barre de progression */
.progress {
    height: 20px;
    border-radius: 10px;
    background-color: #e0e0e0;
}

.progress-bar {
    background-color: #3498db; /* Couleur de la barre de progression */
}

/* Zone de questions */
.question-area {
    text-align: center;
    margin-bottom: 20px;
}

.question-text {
    font-size: 20px;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Réponses */
.answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer {
    width: 100%;
    max-width: 350px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.answer:hover {
    background-color: #2980b9; /* Couleur au survol */
    transform: translateY(-3px); /* Effet de levée au survol */
}

.answer.selected {
    background-color: #27ae60; /* Couleur verte pour la réponse sélectionnée */
}

/* Bouton soumettre */
.submit {
    background-color: #f39c12; /* Couleur orange pour le bouton Soumettre */
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.submit:hover {
    background-color: #e67e22; /* Couleur au survol */
}

/* Section de résultats */
.finish-animation {
    font-size: 24px;
    font-weight: bold;
    color: #27ae60;
    text-align: center;
    margin-top: 20px;
}
