body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Conteneurs et mise en page */
.content-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2%;
    max-width: 500px;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* Typographie */
.page-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(251, 188, 0);
    margin-bottom: 20px;
}

p {
    margin-bottom: 2px;
}

#champ_obligatoire {
    font-size: 12px;
    color: red;
}

::placeholder {
    font-size: 15px;
}

/* Formulaires */
.login-form .form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.toggle-password {
    right: 15px;
    cursor: pointer;
    transition: color 0.5s ease;
    color: #6c757d;
}

.toggle-password:hover {
    color: #000000;
}

/* Boutons et liens */
.quiz-button {
    background-color: rgb(251, 188, 0);
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.quiz-button:hover {
    background-color: #9b7f2a;
}

.btn {
    background-color: rgba(255, 255, 255, 0.895) !important;
    transition: color 0.5s ease !important;
    color: #c98210 !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 10px 15px !important;
    text-decoration: none !important;
    font-size: 16px !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) !important;
}

.btn:hover {
    color: #ff9d00 !important;
}

.back-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.895);
    color: #c98210;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.back-icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

/* Liens textuels */
#mdp_oublie {
    transition: color 0.5s ease;
    color: black;
    text-decoration: none;
    font-size: 11px;
}

#mdp_oublie:hover {
    color: rgb(107, 107, 107);
}

#inscription, #connexion {
    transition: color 0.5s ease;
    color: black;
}

#inscription:hover, #connexion:hover {
    color: rgb(107, 107, 107);
}