/* Fenêtre modale */
.modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#upload-modal,
#projects-modal {
    width: 30%;
    display: flex;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 300px;
    max-width: 90%;
    margin: 0 auto;
    overflow: auto;
}

#project-name-modal .modal-content {
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;
}

/* Liste des projets */
#projects-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}

.project-item {
    background-color: rgb(251, 188, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
}

.project-item:hover {
    background-color: #9b7f2a;
}

/* Zone de dépôt */
.drop-zone {
    border: 2px dashed #bbb;
    padding: 20px;
    margin: 10px 0;
    cursor: pointer;
}

.drop-zone:hover {
    background-color: #f0f0f0;
}

/* Boutons */
button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.disabled {
    background-color: rgba(251, 188, 0, 0.5);
    cursor: not-allowed;
}

button:not(.disabled) {
    background-color: rgb(251, 188, 0);
    color: white;
}

button:hover:not(.disabled) {
    background-color: #9b7f2a;
}

#validate-button,
#remove-button {
    margin: 5px;
    color: white;
}

/* Conteneurs */
.button-container-fenetre {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}